/* clash display font */
@import url('https://fonts.cdnfonts.com/css/clash-display');

/* epilogue, inter,red hat display font */
@import url('https://fonts.cdnfonts.com/css/clash-display');

/* reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.h2-text {
  font-feature-settings: 'cv11' on;
}

.CircularProgressbar-path {
  stroke-width: 10px !important;
}

.scroll::-webkit-scrollbar {
  display: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
  @apply fixed -left-full top-0 max-w-[372px] w-full h-screen bg-color-blue-50 z-20 lg:hidden duration-300 ease-in overflow-y-scroll 
}

.sidebar.active {
  @apply left-0
}